section {
    margin: 35px 0;
    button {
        background-color: transparent;
        font-size: 1.4rem;
        margin-right: 7px;
        color: $col2;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        transition: color 0.3s;
        &:hover {
            color: $brand;
        }
        &[disabled] {
            color: #5b6acd94;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .active {
        color: $brand;
    }
}
